
/* 預設 *//* #region */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';    
}

body{
    background-color: #FEFDF7;
}

a{
    text-decoration: none;
    color: #4c5f79;
}

/* #endregion */


/* 回到頂部 */
#top img{
    width: 60px; 
    height: 60px;
    position: fixed;
    bottom: 70px;
    right: 30px; 
    z-index: 50;
    box-shadow: 2px 2px 10px #bec0c1; 
    border-radius: 100px;
}



/* 加入購物車 *//* #region */

#main{
    margin: 0px 10%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #e0e6e8 1.5px;
}


    #cart{
        width: 50%;
        padding:30px 50px 10px 50px;
        margin-left: 50px;
        color: #4a6175;
        font-weight: bolder;
        font-size: 24px;
    }

    #cart>div{
        padding: 10px;
    }

    #choice{
        margin: 10px 5px;
    }

    form p{
        color: #778fac;
        font-size: 28px;
        margin:5px 20px;
    }

    .format{
        min-height: 100px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    #radio input[type="radio"] {
        display: none; 
    }

    #radio input:checked + .button {
        background: #85a2b5; 
        color: #fff;  
        cursor: default;
    }
    #radio .button {
        display: inline-block; 
        margin:20px 10px 40px 20px; 
        padding: 5px;
        width: 80PX;
        font-size: 22px;
        text-align: center;
        background: #e4edf8; 
        color: #475e85; 
        cursor: pointer; 
        border-radius: 5px; 
        box-shadow: 2px 2px 5px #d2d7db; 
    }

    #radio .button:hover {
        background: #bcc6d7; 
        color: #fff; 
    }
    .numbox{ 
        margin:20px 10px 40px 20px;
        width: 130px;
        display: flex; 
        border-radius: 10px;
        box-shadow: 2px 2px 5px #d2d7db;        
    }
    
    .min{
        width: 35px; 
        text-align: center;
        font-size: 30px;
        border: 0; 
        background: #e4edf8; 
        color: #475e85; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    } 
    
    .plus{
        width: 35px; 
        text-align: center;
        font-size: 30px;
        border:0; 
        background: #e4edf8; 
        color: #475e85; 
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    } 
    
    .num{
        width:60px; 
        text-align: center;
        color: #3d6573;
        border: 0;
        border-top: 0;
        border-bottom: 0;
        font-size: 22px;
        font-weight: bolder;
        
    }
    
    .num::-webkit-inner-spin-button {
         -webkit-appearance: none;
    }

    #numbox{
        display: flex;
        flex-direction: row;
    }
    
    #cart_img{
        width: 100%;
        height: auto;
    }


    #price{
        display: flex;
        align-items: center;
        margin: 10px;
    }

    #price>h3{
        min-width: 120px;
        padding:3px 40px;
        margin:0 10px;
        color: #a29b7a;
        font-size: 30px;
        border-bottom:solid #a2a07a 1.5px;
        display: flex;
    }

    #submit{
        margin: 0 15px;
        padding:10px 15px;
        border: 0;
        border-radius: 10px;
        font-weight: bolder;
        font-size: 22px;
        color: #44586b;
        background-color: #d7e4ef;
    }

    #submit:hover{
        color: #ffffff;
        background-color: #7a8dad;
    }
    #format>p{
        font-size: 22px;
        color: rgb(216, 90, 90);
        padding-bottom: 20px;
    }
/*#endregion*/



/* 商品介紹/詳細規格/Q&A *//* #region */

.introduce{
    margin: 80px 13%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #bec0c1; 
}

.introduce_title{
    margin: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bolder;
    border-bottom: solid #c4d5e1 5px;
    color:#4e657a;
}

.introduce_title p{
    padding: 10px 30px;
}

.introduce_title img{
    width: 60px; 
    height: 60px; 
    padding:5px 15px;
}

/*#endregion*/


/* 商品介紹 *//* #region */

    #introduce_photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding-bottom: 50px;
    }

    #introduce_photo img{
        margin: 15px;
        width: 80%;
    }

/*#endregion*/


/* 詳細規格 *//* #region */

    #detailed{
        padding: 50px 150px 80px 150px;
        font-size: 22px;
        color:#606b75;
    }

    #detailed h3{
        font-weight: bolder;
        color:#556d82;
    }

    .Brand{
        display: flex;
    }

/*#endregion*/


/* Q&A *//* #region */

    #Q_A{
        display: flex;
        flex-direction: column;
        padding: 40px 5% 60px 5%;
        line-height: 20px;
        color:#606b75;
    }

    #create{
        margin:0px 50px;
    }

    #create_title{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 22px;
    }

    #create>form{
        display: flex;
        flex-direction: column;
        margin: 20px 60px;
    }

    #create>form>input{
        margin:18px 5px;
        width: 130px;
        padding: 6px ;
        text-decoration: none;
        display: flex;
        justify-content: center;
        background-color: white;
        color: #4c5f79;
        font-weight: bolder;
        border: solid #ccdbe7 2px;
        border-radius: 50px;
        font-size: 22px;
    }

    #create>form>input:hover{
        background-color: #97a7c5;
        color: white;
    }

    #create_text{
        padding: 10px;
        width: 100%;
        resize: none;
        border: 1.5px solid #d0d8e8;
        border-radius: 5px;
        font-size: 22px;
    }


    #allQA_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bolder;
        font-size: 22px;
        margin: 10px;
    }

    #allQA_title img{
        width: 37%; 
        height: 1%; 
        padding:15px 30px;
    }

    .content{
        font-weight: bolder;
        line-height: 35px;
        margin:0px 50px;
        padding:20px 30px;
        font-size: 22px;
        color:#556d82;
        border-bottom:solid #8bb5c2 1px;
    }

/*#endregion*/

#similar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
#similar_product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
}


.product{
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    min-width: 150px;
    max-width: 180px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 8px #d6d7de;
    font-size: 20px;
}

.product p{
    margin: 15px 0;
    font-weight: bold;
    color: #a06761;
}

.product img{
    width: 90%;
}


@media screen and (max-width: 768px) {
    #main{
        margin: 0px 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-bottom: solid #e0e6e8 1.5px;
    }
    
    #cart{
        width: 100%;
        padding:30px 0px 10px 0px;
        margin-left: 0;
        color: #4a6175;
        font-weight: bolder;
        font-size: 22px;
    }
    .introduce{
        margin: 50px 5%;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 2px 2px 10px #bec0c1; 
    }
    .introduce_title{
        margin: 5px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 5px;
        font-size: 25px;
        font-weight: bolder;
        border-bottom: solid #c4d5e1 3px;
    }
    .introduce_title img{
        display: none;
    }
    #introduce_photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding-bottom: 30px;
    }

    #introduce_photo img{
        margin: 15px;
        width: 90%;
    }
    #detailed{
        padding: 30px 30px ;
        font-size: 22px;
        font-weight: bold;
    }
    #Q_A{
        display: flex;
        flex-direction: column;
        padding: 25px 10px ;
    }
    #create{
        margin:0px 10px;
    }

    #create>form>input{
        margin:18px 5px 5px 5px;
        width: 100px;
    }
    #create>form{
        margin: 20px 30px;
    }
    #allQA_title{
        display: flex;
        justify-content: center;
    }
    #allQA_title img{
        width: 20%;
    }
    .content{
        font-weight: bolder;
        line-height: 30px;
        margin:0px 30px;
        padding:15px 30px;
        color:#556d82;
        border-bottom:solid #8bb5c2 1px;
    }
    #price{
        display: flex;
        justify-content: start;
    }
    .price_{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        
    }

    #submit{
        margin: 10px 20px;
    }
    
}