/* 預設 *//* #region */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';    
}

body{
    background-color: #FEFDF7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #4c5f79;
}

/* #endregion */




#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #bec0c1; 
    min-height: 400px;
}

#none{
    
    text-align: center;
    color: #4e657a;
}

#go_login a{
    text-decoration: underline;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
}

#go_login a:hover{
    background-color: #97a7c5;
    color: white;
}
/* title *//* #region */

.main_title{
    width: 80%;
    margin: 10px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: solid #c4d5e1 5px;
    color:#4e657a;
}

.main_title p{
    padding: 10px 30px;
}

.main_title img{
    max-width: 60px;
    width: 15%;
    height: auto;
    padding:5px 15px;
}

/*#endregion*/


/* 購物車內容 *//* #region */


    .main{
        padding:30px 10% ;
        width: 80%;
    }

    /* 商品資料 */
    .content{
        font-weight: bolder;
        line-height: 50px;
        padding:10px 10%;
        font-size: 23px;
        color:#556d82;
        border-bottom:solid #8bb5c2 1px;
    }

    .content p , .content a{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 15px;
    }

    .content img{
        width: 25px;
    }

    h2{
        width: auto;
        padding: 0 15px;
        margin:30px 10%;
        color: #7899b8;
    }

    #button{
        text-align: center;
        width: 80px;
        margin-bottom: 30px;
        padding: 8px 35px;
        background-color: white;
        color: #4c5f79;
        font-weight: bolder;
        border: solid #ccdbe7 2px;
        border-radius: 50px; 
        font-size: 23px;   
    }

    #button:hover{
        background-color: #97a7c5;
        color: white;
    }

/*#endregion*/


/* 結帳頁面 *//* #region */

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 會員資料 */
    .user_content{
        font-weight: bolder;
        line-height: 70px;
        margin:30px 0px;
        padding:0px 5%;
        font-size: 22px;
        color:#556d82;
    }

    /* 地址輸入框 */
    .text{
        width: 80%;
        padding: 10px;
        margin: 15px;
        border:solid 1px #a3b1c5;
        border-radius: 8px;
        font-size: 20px;
    }

    #checkout_button{
        display: flex;
        justify-content: center;
        width: 180px;
        margin-bottom: 30px;
        padding: 10px 35px;
        background-color: white;
        color: #4c5f79;
        font-weight: bolder;
        border: solid #ccdbe7 2px;
        border-radius: 80px; 
        font-size: 23px;   
    }

    #checkout_button:hover{
        background-color: #97a7c5;
        color: white;
    }

    .user{
        display: flex;
    }

    


    .numbox{ 
        margin:20px 10px 20px 0px;
        width: 130px;
        display: flex; 
        border-radius: 10px;
        box-shadow: 2px 2px 5px #d2d7db;        
    }

    #numbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    .min{
        width: 35px; 
        text-align: center;
        font-size: 30px;
        border: 0; 
        background: #e4edf8; 
        color: #475e85; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    } 
    
    .plus{
        width: 35px; 
        text-align: center;
        font-size: 30px;
        border:0; 
        background: #e4edf8; 
        color: #475e85; 
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    } 
    
    .num{
        width:60px; 
        text-align: center;
        color: #3d6573;
        border: 0;
        border-top: 0;
        border-bottom: 0;
        font-size: 22px;
        font-weight: bolder;
        
    }
    
    .num::-webkit-inner-spin-button {
         -webkit-appearance: none;
    }

    #discount{
        font-size: 22px;
        color: #c58879;
    }

    #money{
        display: flex;
    }
/*#endregion*/

@media screen and (max-width: 768px) {
    .main{
        padding: 5%;
    }
    .main_title img{
        width: 10%;
        height: auto;
    }

    .user{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        margin: 30px;
    }
    .text{
        width: 90%;
    }
    
}

